<!DOCTYPE html>
<html>

<head>
  <title><%=result[0].name %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
    #map {
      height: 400px;
      width: 100%;
     }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <h1 class="mx-auto"><%=result[0].name %></h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% if (result[0].photo != null){ %>
      <img src="data:<%=result[0].photomimetype %>;base64, <%=result[0].photo %>">
      <% } %>
    </div>
    <div class="row">
      <span>Borough: <%=result[0].borough %></span>
    </div>
    <div class="row">
      <span>Cuisine: <%=result[0].cuisine %></span>
    </div>
    <div class="row">
      <span>Street: <%=result[0].address.street %></span>
    </div>
    <div class="row">
      <span>Building: <%=result[0].address.building %></span>
    </div>
    <div class="row">
      <span>Zipcode: <%=result[0].address.zipcode %></span>
    </div>
    <div class="row">
      <div class="column">
        <span>Grades: </br></span>
      </div>
      <div class="column">
        <% var grades = result[0].grades;
           var i = 1;
        grades.forEach(function(grades){ %>
        <span><%=i %>.  <%=grades.uid %>---<%=grades.rating %>points</span></br>
        <%
          i+=1 }) %>


      </div>
    </div>
    <div class="row">
      <span>GPS: [ <%=result[0].address.coord.lat %>, <%=result[0].address.coord.lon %> ]</span>
    </div>
    <div class="row">
      <span>Created by: <%=result[0].owner %></span>
    </div>
    <input id="lat" type="hidden" value="<%=result[0].address.coord.lat %>">
    <input id="lon" type="hidden" value="<%=result[0].address.coord.lon %>">
    <div id="map">
      <script>
      function initMap() {
        if (document.getElementById("lat").value == "" || document.getElementById("lon").value == ""){
           return
         }
        var location = {lat: parseFloat(<%=result[0].address.coord.lat %>), lng: parseFloat(<%=result[0].address.coord.lon %>)};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: location
        });
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
      }
      </script>
    </div>
    <div class="row">

	  <div class="column">
      <a href="../delete?id=<%=result[0]._id %>" class="btn btn-info">Delete</a>
    </div>
    <div class="column">
      <a href="../update?id=<%=result[0]._id %>" class="btn btn-info">Update</a>
    </div>
    <div class="column">
      <a href="../grade?id=<%=result[0]._id %>" class="btn btn-info">Rate</a>
    </div>
    </div>
  </div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFBDczwsfFy8czzC7k7Ya2pC0Pjjm2eo4&callback=initMap"></script>
</body>
</html>
